@charset "utf-8";

body {
	
    background-image: url("sand.jpg");
background-size: cover;

}




nav {text-align: center;
	align-content: center; 
	font-family: 'Roboto' ;
	font-size: 16px; 
}


a {
	font-family: 'Roboto';
	text-decoration: none;
	color: white;


}


form {font-family: "Roboto";

}

table {
	font-family: "Roboto";
	font-weight: normal;
	font-size: medium;
}

tbody { font-family: "roboto";

}


.speciallink {
	
	color:;
	
}

.signuptext {

	
	
}

.signupbox {
	background: #3B77E0;
	width: 699px;
	height: 35px;
	text-align: center;
	position: relative;
	top: 75px;
	margin: auto;
	bottom: 500px;
}

.signupbox:hover {
	background-color: #2162D4;
	color: white;
}

.signup {
	font-family: "Roboto";
	color: white;
	text-align: center;
	font-size: 24px;
}

.textentry input {
	
	position: 100%
	
	
	
}

.toppagehead {
	font-family: 'Roboto';
	font-size: 40px;
	top: -28px;
	
}

.toppagebox {
	background: #FDFDFD;
	width: 600px;
	float: left;
}

.toppagebox img { 
position: relative;
	top: 12px
}

.volleyballbox {
	width: 1px;
	height: 1px;
	position: relative;

}

.volleyballbox img { 

	top: -56px;

}

.infohead1 {
	font-family: "Roboto";
	font-size: 25px;
	text-shadow: 0px 0px 1px #FFFFFF;
	padding-top: 3px;
}

.basictext {
	font-family: "Roboto";
	margin-bottom: 0px;
	color: black;
}

.navbox ul {
	list-style-type: none;
	overflow: hidden;
	background-color: #F8CD33;
	display: inline-block;
    
}

.navbox li {
	display: inline;
	
}


.navbox li a {
	display: inline;
	color: white;
	text-align: center;
	padding-right: 89px;
	padding-left: 89px;
	text-decoration: none;
	padding-bottom: 0px;
}

li a:hover {
	background-color: #C79D06;
	color: white;
}


.navbox {
	background-color: #F8CD33;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	text-align: center;
	align-content: center;
	font-size: 50px;
	margin: auto;
	width: 955px;
}


.centerbox {
	width: 700px;
	background: #3B77E0;
	margin: auto;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 5px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	border-radius: 1px;
}

.mapbox {padding: 10px}
